<h1>New Task</h1>

<%= form_with model: @task do |form| %>
  <div>
    <%= form.label :content %><br>
    <%= form.text_area :content %>
    <% @task.errors.full_messages_for(:content).each do |message| %>
      <div><%= message %></div>
    <% end %>  
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>